/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color);

  color: var(--text-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding-block: var(--header-spacing);
  block-size: max(768px, 100vh);
  line-height: 18px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--header-spacing);
  right: var(--header-spacing);
  width: 25px;
  height: 25px;
  border-block-start: 1px var(--angle-color) solid;
  border-inline-end: 1px var(--angle-color) solid;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--header-spacing);
  left: var(--header-spacing);
  width: 25px;
  height: 25px;
  border-block-end: 1px var(--angle-color) solid;
  border-inline-start: 1px var(--angle-color) solid;
}

.rec__container {
  position: absolute;
  top: var(--header-spacing);
  right: calc(var(--header-spacing) + 9px);
  width: 52px;
  height: 26px;
  line-height: 25px;
  color: var(--accent-color);
}

.rec__container::before {
  content: "rec";
  position: absolute;
  text-transform: uppercase;
}

.rec__container::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  color: var(--btn-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px var(--btn-color) solid;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  color: var(--side-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  text-transform: lowercase;
}

.header__content {
  place-self: center right;
  margin-inline-end: var(--header-spacing);
  max-width: var(--header-content-max-width);
  font-weight: 700;
}

.title-decor {
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.main-content {
  display: grid;
  gap: var(--sections-gap);
  padding: 60px 20px;
}

.section_focus-difficulties {
  display: grid;
  grid-template-columns: max-content 2fr;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  max-width: 315px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  font-size: 18px;
}

.article_paragraph {
  padding-block-start: 10px;
  font-weight: 400;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.section_concentration-reducers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_concentration-reducers__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section_focus-improvement {
  display: grid;
  grid-template-columns: max-content 2fr;
  gap: 20px;
}

.font-weight_smaller {
  font-weight: 400;
}

.section_galerry {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_galerry__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-column: 1 / 3;
}

.ice-cream {
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.street {
  grid-column: 2 / 4;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: max(768px, 100vh);
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  color: var(--side-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  text-transform: lowercase;
}

@media (width < 1024px) {
  :root {
    --header-content-max-width: 364px;
  }

  .header {
    block-size: max(1024px, 100vh);
  }

  .header__theme-menu {
    display: grid;
    justify-content: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 11.5px;
    padding-inline-end: var(--header-spacing);
  }

  .header__title {
    line-height: 99px;
  }

  .section__title {
    max-width: 236px;
  }

  .section_concentration-reducers__content {
    grid-template-columns: 1fr;
  }

  .footer {
    block-size: max(1024px, 100vh);
  }
}

@media (width < 768px) {
  :root {
    --header-spacing: 10px;
    --header-content-max-width: 355px;
    --sections-gap: 50px;
  }

  .header {
    block-size: max(668px, 100vh);
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    padding-inline-start: var(--header-spacing);
  }

  .main-content {
    padding: 40px 10px;
  }

  .section__title {
    max-width: 355px;
  }

  .section_focus-difficulties,
  .section_concentration-reducers__content,
  .section_focus-improvement {
    grid-template-columns: 1fr;
  }

  .section_galerry {
    gap: 10px;
  }

  .section_galerry__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    block-size: max(668px, 100vh);
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }
}
